# Archivos de entorno
.env
*.env

# Carpetas virtual env
venv/
.venv/

# Archivos de Python
__pycache__/
*.pyc

# Archivos de logs
*.log

# IDE basura
.vscode/
.idea/
.DS_Store
# Entornos virtuales
.venv/
venv/
env/
ENV/
.virtualenv/

# Python
*.py[cod]
*$py.class
*.so
.Python