<section class="grid-container">
    <div class="card" *ngFor="let oferta of productos">
        <input type="hidden" [name]="oferta.id_platillo">
        <input type="hidden" [name]="oferta.id_oferta_platillo">
        <input type="hidden" [name]="oferta.id_oferta">
        <div class="card-image">
            <img [src]="oferta.Ruta_imagen" [alt]="oferta.Nombre_platillo" title="foto oferta">
            <span class="discount">{{oferta.porcentaje_descuento}}% Descuento</span>
            <div class="icons">
                <button class="icon-btn" title="Carrito"
                    (click)="personalizar_plato(oferta.id_platillo, 'plato', 'carrito')"><i
                        class="fas fa-shopping-cart"></i></button>
                <button title="favorito" class="icon-btn" (click)="toggleFavorito(oferta)"
                    [title]="oferta.isFavorite ? 'Eliminar favorito' : 'Agregar a favoritos'">
                    <i *ngIf="oferta.isFavorite; else noFav" class="fas fa-heart text-red-500"></i>
                    <ng-template #noFav>
                        <i class="far fa-heart"></i>
                    </ng-template>
                </button>
            </div>
        </div>

        <div class="card-content">
            <h2 class="card-title">{{ oferta.Nombre_platillo }}</h2>
            <p class="card-desc">{{ oferta.Descripcion }}</p>
        </div>

        <div class="card_bottom">
            <div class="price">
                <span class="new-price">${{ oferta.precio_oferta }} MXN</span>
                <span class="old-price">${{oferta.precio_venta}}</span>
            </div>
            <button class="order-btn"
                (click)="personalizar_plato(oferta.id_platillo, 'plato', 'pedido')">Encargar</button>
        </div>
    </div>

</section>