<!-- Fondo oscuro que aparece al abrir el sidebar -->
<div class="overlay" *ngIf="sidebarVisible" (click)="toggleSidebar()"></div>

<!-- Header solo si el layout está activo -->
<ng-container *ngIf="mostrarLayout()">
    <app-header (toggleSidebarEvent)="toggleSidebar()"></app-header>
</ng-container>

<!-- Sidebar -->
<app-sidebar [isVisible]="sidebarVisible"></app-sidebar>

<!-- Contenido principal -->
<router-outlet></router-outlet>

<!-- Footer solo si el layout está activo -->
<ng-container *ngIf="mostrarLayout()">
    <app-footer></app-footer>
</ng-container>