<footer>
    <div id="f">

        <div id="c">
            <div id="c1">
                <h3>Restaurant Breath of a New Kingdom</h3>
                <h4>Saborea los platillos dignos de un rey</h4> <br>
                <h4>Encuéntranos en Andrés Pérez de Riva #410 también puedes pedir a domicilio llamando al 6871558515
                </h4>
            </div>
            <div id="c2">
                <h3>
                    Encuentranos o llamanos
                </h3>
                <h3>
                    Nuestro numero telefonico: <br>
                    6871558515 <br>
                    Nuestras redes sociales <br>
                    <div id="redes">
                        <a href="https://www.instagram.com/danzito125/" title="instagram danzito125"><i
                                class="fa-brands fa-instagram"></i> </a>

                        <a href="https://www.facebook.com/share/p/1CpnJALJje/" title="facebook"><i
                                class="fa-brands fa-facebook"></i></a>

                        <a href="https://x.com/DanzitoChe?t=wWJPfw7tPpRubOWwK_hORw&s=09" title="fa-x-twitter"><i
                                class="fa-brands fa-x-twitter"></i></a>
                    </div>
                </h3>
            </div>
        </div>
        <h5>Todos los derechos reservador por Danzito Web Project</h5>
    </div>
</footer>