<header>
    <nav>
        <a href="/" aria-label="Inicio">
            <img src="icons/Breath_of_a_new_kingdom.svg" alt="Ícono del sitio" id="logo_boank" />
        </a>
        <div>
            <a href="/carrito" title="Carrito"><i class="fa-solid fa-cart-shopping"></i></a>

            <div *ngIf="nicknameCorto == 'Mi perfil'">
                <a href="/login" title="Login">Iniciar Sesión</a>
            </div>
            <div *ngIf="nicknameCorto != 'Mi perfil'">
                <a href="/usuario">{{ nicknameCorto }}</a>
            </div>
            <button title="sidebar" (click)="toggleSidebar()"><i class="fa-solid fa-bars"></i></button>
        </div>
    </nav>
</header>