<section class="grid-container">
    <div class="card" *ngFor="let producto of productos$ | async">
        <input type="hidden" name="id_platillo" [id]="producto.id_platillo">
        <div class=" card-image">
            <img [src]="producto.Ruta_imagen" [alt]="producto.Nombre_platillo" title="foto producto">
            <div class="etiquetas">
                <span [ngStyle]="{'background-color': get_color_tipo(producto)}" class="discount">
                    {{ get_color_Categoria(producto) }}
                </span>
                <span *ngIf="producto.En_oferta" [ngStyle]="{'background-color': '#0CAF03'}" class="discount">
                    {{producto.Porcentaje_oferta}} % Descuento
                </span>
            </div>
            <div class="icons">
                <button class="icon-btn" title="Carrito"
                    (click)="personalizar_plato(producto.id_platillo, 'plato', 'carrito')">
                    <i class="fas fa-shopping-cart"></i>
                </button>

                <button *ngIf="mostrarFavorito" title="favorito" class="icon-btn" (click)="toggleFavorito(producto)"
                    [title]="producto.isFavorite ? 'Eliminar favorito' : 'Agregar a favoritos'">
                    <i *ngIf="producto.isFavorite; else noFav" class="fas fa-heart text-red-500"></i>
                    <ng-template #noFav>
                        <i class="far fa-heart"></i>
                    </ng-template>
                </button>
            </div>
        </div>

        <div class="card-content">
            <h2 class="card-title">{{ producto.Nombre_platillo }}</h2>
            <p class="card-desc">{{ producto.Descripcion }}</p>
        </div>

        <div class="card_bottom">
            <div class="price">
                <span class="new-price">${{ producto.precio_venta }} MXN</span>
                <span class="old-price" *ngIf="producto.En_oferta">{{producto.precio_original}} mxn</span>
            </div>
            <button class="order-btn"
                (click)="personalizar_plato(producto.id_platillo, 'plato', 'pedido')">Encargar</button>
        </div>
    </div>

</section>